.swiper {
  height: 100%;
  .swiper-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    .slideDesc {
      position: absolute;
      bottom: 0;
      width: 100%;
      font-weight: bold;
      font-size: 31px;
      color: #ffffff;
      background: #e60012;
      border-radius: 20px;
      padding: 10px 15px;
    }
  }
}
